.item {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.item.check {
  padding: 1rem 0;
}

.imgContainer {
  width: 20%;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info {
  width: 80%;
  display: flex;
  align-items: center;
  font-size: 26px;
  font-weight: 700;
  color: var(--color-black);
}

.name {
  width: 50%;
}

.counter {
  display: flex;
  align-items: flex-start;
  width: 20%;
  font-size: 22px;
  font-weight: 500;
}

.minusBtn,
.plusBtn {
  cursor: pointer;
  transition: all 150ms ease-out;
  color: gray;
}

.minusBtn:hover,
.plusBtn:hover {
  color: var(--color-accent);
}

.quantity {
  line-height: 22px;
  margin: 0 0.5rem;
}

.priceContainer {
  width: 30%;
  display: flex;
}

.price {
  text-align: right;
}

.deleteContainer {
  width: 100%;
  text-align: right;
}

.deleteBtn {
  border: none;
  background-color: transparent;
  color: var(--color-accent);
  font-weight: 500;
  font-size: 18px;
}

.deleteBtn:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .info {
    font-size: 20px;
    font-weight: 700;
  }
  .deleteBtn {
    font-weight: 500;
    font-size: 16px;
  }
}

@media (max-width: 640px) {
  .item {
    flex-direction: column;
    position: relative;
    padding: 2rem 0;
  }
  .imgContainer {
    width: 100%;
  }
  .info {
    width: 100%;
    display: grid;
    grid-template-areas:
      "a a"
      "b c";
  }

  .name {
    grid-area: a;
    width: 100%;
  }

  .counter {
    grid-area: b;
    width: 100%;
  }

  .priceContainer {
    grid-area: c;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .deleteContainer {
    position: absolute;
    bottom: 0;
    top: 1rem;
  }
}
