.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: var(--color-black);
  color: var(--color-white);
  /* background-color: transparent; */
  /* color: var(--color-black); */
  z-index: 100;
}

.wrap {
  width: 100%;
  height: 100%;
  max-width: 1536px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 1000;
}

.titleText {
  /* color: var(--color-black); */
}

.nav {
  display: flex;
}

.menu {
  display: flex;
  align-items: center;
}

.menuItem {
  margin: 0 25px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: all 150ms ease-out;
}

.menuItem:hover {
  color: var(--color-accent);
}
