.paymentWidget {
  width: 980px;
  min-width: 980px;
  margin: 0 auto;
  padding-top: 3rem;
}

.paymentHeader {
  font-size: 24px;
  margin-bottom: 1rem;
  width: 30%;
}

.paymentBtnContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.paymentBtn {
  width: 20%;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: var(--color-accent);
  color: var(--color-white);
  border-radius: 0.5rem;
  padding: 1rem;
}

.widgetContainer {
  position: relative;
  width: 100%;
  transform: translateY(-20px);
}

.paymentBtn:hover {
  filter: brightness(110%);
}

@media (max-width: 1024px) {
  .paymentWidget {
    width: 620px;
    min-width: 620px;
  }
}

@media (max-width: 640px) {
  .paymentWidget {
    width: calc(85% + 48px);
    min-width: 0;
    margin: 0 auto;
  }

  .paymentHeader {
    font-size: 22px;
    width: 100%;
    padding-left: 24px;
  }

  .paymentBtn {
    width: 85%;
    font-size: 20px;
    margin: 0 auto;
  }
}
