.item {
  width: 100%;
  height: 500px;
  cursor: pointer;
  background-color: #fbfbfd;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  transition: all 250ms ease-out;
}

.item:hover {
  transform: scale(1.01);
}

.inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hoverText {
  position: absolute;
  top: 50%;
  opacity: 0;
  background-color: var(--color-white);
  font-weight: 700;
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid whitesmoke;
  transition: all 300ms ease-out;
  transform: translateY(50%);
}

.hoverText.visible {
  opacity: 1;
  transform: translateY(0%);
}

.title {
  width: 100%;
  height: 20%;
  font-size: 22px;
  font-weight: 700;
  padding: 30px 30px 0px;
}

.newItem {
  font-size: 22px;
  background: #034594;
  background: linear-gradient(to right, #034594 12%, #52aead 26%, #2f0153 61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: blink 2s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.img {
  width: 100%;
  height: 55%;
  object-fit: contain;
}

.colors {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.color {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 0 0.2rem;
}

.colorText {
  display: none;
}

.priceContainer {
  width: 100%;
  height: 15%;
  padding: 0px 30px 30px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
}

.price {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-black);
}

@media (max-width: 1024px) {
  .title {
    font-size: 18px;
  }
  .newItem {
    font-size: 18px;
  }
  .priceContainer {
    font-size: 14px;
  }
  .price {
    font-size: 16px;
  }
}

@media (max-width: 640px) {
  .hoverText {
    display: none;
  }
}
