.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: var(--color-black);
}

.slideItem {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.8;
}

.text {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 44px;
  color: var(--color-white);
  font-weight: 700;
}

.slideBtnBox {
  position: absolute;
  left: 0%;
  bottom: 10%;
  width: 100%;
  padding: 0 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
}

.prevBtn,
.nextBtn {
  color: white;
  font-weight: 700;
  font-size: 5rem;
  cursor: pointer;
  transition: all 150ms ease-out;
  padding: 0 0.5rem;
}

.bottomBtn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  font-size: 4rem;
  font-weight: 700;
  z-index: 10;
  cursor: pointer;
  color: var(--color-white);
  transition: all 150ms ease-out;
  animation: arrowMove 2s infinite;
}

.prevBtn:hover,
.nextBtn:hover,
.bottomBtn:hover {
  color: var(--color-accent);
}

@keyframes arrowMove {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}

.autoplayProgress {
  z-index: 10;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-left: 1rem;
}

.progressCircle {
  --progress: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--color-accent);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

@media (max-width: 1536px) {
  .slideBtnBox {
    padding: 0 90px;
  }
  .text {
    padding: 0 90px;
    font-size: 40px;
  }
}

@media (max-width: 1024px) {
  .slideBtnBox {
    padding: 0 30px;
  }
  .text {
    padding: 0 30px;
    font-size: 34px;
  }
}

@media (max-width: 640px) {
  .prevBtn,
  .nextBtn {
    font-size: 4rem;
  }
  .bottomBtn {
    display: none;
  }
  .text {
    font-size: 24px;
  }
  .slideItemBox1 {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background: center/cover no-repeat url("/public/images/slideimg1.png");
  }
  .slideItemBox2 {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background: center/cover no-repeat url("/public/images/slideimg2.png");
  }
  .slideItemBox3 {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background: center/cover no-repeat url("/public/images/slideimg3.jpeg");
  }
  .slideItem {
    display: none;
  }
}
